/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Icône */
.icon {
    width: 10%;
    height: auto;
}

/* Menu Burger */
.burger {
    top: 5px;
    left: 90%;
    position: absolute;
    border: none;
    color: #333;
    background-color: transparent;
    transition: transform 0.3s ease; /* Transition pour la transformation */
    cursor: pointer;
}

.burger:hover {
    transform: scale(1.3); /* On applique un agrandissement de 1.3x */
}


/* Header inférieur */
.bottom_header {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.bottom_header h1 {
    align-items: center;
}

.bottom_header img {
    width: 10%;
    height: auto;
    margin-bottom: 10px;
}

/* Liens centrés */
.link {
    display: none
}

/* Section principale */
main h2 {
    position: relative;
    left: 2%;
}

main p {
    margin: 2%;
    font-size: 15px;
    color: grey;
    position: relative;
    left: 4%;
    max-width: 390px;
}

/* Articles */
article {
    display: inline-block;
    margin: 2%;
    width: 88%;
    background-color: #333;
    padding: 3%;
    border-radius: 20px;
    color: #f9f9f9;
}

article p {
    font-size: 12px;
    position: relative;
}

/* Image personnalisée */
.img_custom {
    width: 25%;
    height: auto;
}

/* Grille Responsive */
.col-sm-1 { width: calc(100% / 12); }
.col-sm-2 { width: calc(200% / 12); }
.col-sm-3 { width: calc(300% / 12); }
.col-sm-4 { width: calc(400% / 12); }
.col-sm-5 { width: calc(500% / 12); }
.col-sm-6 { width: calc(600% / 12); }
.col-sm-7 { width: calc(700% / 12); }
.col-sm-8 { width: calc(800% / 12); }
.col-sm-9 { width: calc(900% / 12); }
.col-sm-10 { width: calc(1000% / 12); }
.col-sm-11 { width: calc(1100% / 12); }
.col-sm-12 { width: 100%; }

/* Responsive pour les écrans supérieurs ou égaux à 700px */
@media (min-width: 700px) {
    .burger {
        display: none;
    }
    .link {
        display: flex;
        justify-content: center;
        gap: 30%; /* Espacement entre les liens */
        margin: 2% 0; /* Ajout d'un petit espace vertical */
    }
    .main {
        margin: 0 10%;
    }
    article {
        margin: 2.5%; /* Centrer les articles */
        width: 80%;
    }
    main p {
        max-width: 1000px;
    }
}

/* Masquer les liens lorsque le burger est affiché */
.burger:focus + .link,
.burger:active + .link {
    display: none;
}

@media (min-width: 900px) and (max-width: 1199px) {
    /* Articles en utilisant flexbox */
    .articles-container {
        display: flex;
        flex-wrap: wrap; /* Permet aux articles de passer à la ligne */
        justify-content: center; /* Centre les articles */
    }
    article {
        min-width: 30%; /* Ajustez la largeur minimale pour permettre l'alignement */
        max-width: 40%; /* Ajustez la largeur maximale pour permettre l'alignement */
        margin: 2.5%; /* Ajustez la marge pour un espacement uniforme */
    }
}

@media (min-width: 1200px) {
    .articles-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Espace entre les articles */
    }
    article {
        max-width: 28%;
        margin: 2.5%;
    }
}